 body{
     margin: 0 auto;
    width: 100%;
    height: 100%;
}
ul{
    padding: 0px!important;
}
.menu-principal{
    width: 100%;
    background-color: #252323;
    height: 60px;

}
main{
    margin:0 auto;
    width: 980px;
    position: relative;
}
.logo{
    padding: 16px; 
    width: 50%;
    float:left;
}
.redes-sociais ul li{
    margin-left: 10px;
display: inline-block;
float: left;
list-style: none;

}

.redes-sociais{
    width: 40%;
    float: right;
}
.header-2{
   
    background-color: #ffffff;
    width: 980px;
    margin:0 auto;
    padding: 16px;
   
}
.menu-urls{
    height: 80px;
    border-bottom: 3px solid #808080;

}
.menu ul li {
    display: inline-block;
    color: #8b8b8b;
    margin-left: 15px;
}

.menu ul li a{

    color: #8b8b8b;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}
.menu{
    width:60%;
    float: left;
    text-align: left;
}

.busca{
    width: 40%;
    float: right;
    
}
.busca input{
    height: 30px;
    margin-top: 10px;
    padding-left: 12px;
    width: 190px;
   border: 1px solid #808080;
}
.col-100{
    width: 100%;
    float:left;
    position: relative;
}